ul.tabs-nav {
    width: 200px;
    float: left;
     margin: 0px;
    padding: 0px;
}

.tabs-body {
    width: calc(100% - 200px);
    float: left;
    padding: 30px;
    border-left: 1px solid #ddd;
    background: #fff;
    min-height: 675px;
}
li {
    list-style: none;
}
ul.tabs-nav li {
    border-bottom: 1px solid #ddd;
    border-left: none;
    position: relative;
}
ul.tabs-nav li a {
    padding: 15px 15px;
    display: block;
    color: #686868;
}
ul.tabs-nav li a:hover, ul.tabs-nav li a.active {
    background-color: #ffffff;
    width: 101%;
    left: 0;
    right: 0;
}
ul.tabs-nav li a i.fa {
    margin-right: 10px;
}
